{% extends 'base.html' %}

{% block title %}
All Short URLs
{% endblock %}

{% block main %}
<h1> Short URLs list</h1>
{% if short_urls %}
<div class="table-responsive">
  <table class="table table-striped table-hover align-middle">
    <thead>
    <tr>
      <th scope="col">Slug</th>
      <th scope="col">Target URL</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for url in short_urls %}
    <tr>
      <td><code>{{ url.slug }}</code></td>
      <td>
        <a
            href="{{ url.target_url }}"
            target="_blank"
        >{{ url.target_url }}
        </a>
      </td>
      <td>
        {% if url.description %}
        {{ url.description }}
        {% else %}
        <code>—</code>
        {% endif %}
      </td>
      <td>
        <div
            class="btn-group"
            role="group"
            aria-label="Short URL actions">
          <a
              href="{{ url_for('short-urls:update-view', slug=url.slug) }}"
              class="btn
            btn-outline-info">Edit</a>

          <button
              type="button"
              class="btn
              btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#modal-confirm-delete-{{ url.slug }}">
            Delete
          </button>
        </div>


        <!-- Modal -->
        <div class="modal fade"
             id="modal-confirm-delete-{{ url.slug }}"
             tabindex="-1"
             aria-labelledby="modal-confirm-delete-{{ url.slug }}-label"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="modal-confirm-delete-{{ url.slug }}-label">Confirm delete Short URL <code>{{ url.slug }}</code>?
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete short URL
                <code>{{ url.slug }}</code> that links to
                <a href="{{ url.target_url }}" target="_blank">{{ url.target_url }}</a>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button
                    hx-delete="{{ url_for('short-urls:delete', slug=url.slug) }}"
                    hx-target="closest tr"
                    hx-swap="outerHTML swap:0.5s"
                    type="submit"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                >Delete
                </button>
              </div>
            </div>
          </div>
        </div>


      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div>
  <a
      class="btn btn-outline-primary"
      href="{{ url_for('short-urls:create-view') }}"
  >
    Create new
  </a>
</div>

{% else %}
<h2>No short URLs yet</h2>
<h3>You can <a href="{{ url_for('short-urls:create-view') }}">create a new one</a></h3>
{% endif %}
<style>
  tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>

{% endblock %}
