{% macro form_field(
field_name,
field_schema,
is_required) %}

<div class="mb-3">
  <label
      for="{{ field_name }}"
      class="form-label ">{{ field_schema.title }}</label>
  <input
      id="{{ field_name }}"
      name="{{ field_name }}"
      type="text"
      class="form-control"
      {% if field_schema.get('minLength') != None %}
      minlength="{{ field_schema.minLength }}"
      {% endif %}
      {% if field_schema.get('maxLength') != None %}
      maxLength="{{ field_schema.maxLength }}"
      {% endif %}
      {% if is_required %} required {% endif %}
  >
</div>

{% endmacro %}
